* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  user-select: none;
}

#card {
  min-height: 40vh;
  width: 80vw;
  background-color: rgb(241, 243, 240);
  border-radius: 2vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#card h2 {
  font-size: 2vh;
  width: 100%;

  text-align: center;
}

h2 span {
  font-size: 2vh;
  width: 100%;
  color: rgb(34, 135, 198);
}

#success {
  color: green;
  display: none;
  font-size: 3vh;
}
#outer {
  height: 1vh;
  width: 80%;
  background-color: grey;
  border-radius: 5vh;
  margin-bottom: 5vh;
  margin-top: 3vh;
}

#inner {
  height: 100%;
  width: 100%;

  background-image: url();
  background: linear-gradient(green, rgb(113, 222, 113));
  border-radius: 5vh;
}

button {
  color: white;

  padding: 1vh 3vh;
  border-radius: 1vh;
  border: none;
  background-color: rgb(36, 157, 40);
  font-size: 1.5vh;
}

#btn {
    background-color: red;
  display: flex;
  justify-content: space-between;
  margin-top: 1vh;
  align-items: center;
  margin-top: 4vh;
}
#btn h1 {
  font-size: 3vh;
  align-items: center;
}

button:active {
  scale: 0.9;
}
